NEXT_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=6a1ac10b003092f77c0f
NEXT_PUBLIC_APPWRITE_DATABASE_ID=6a1ac1800001fb5d59a4
NEXT_PUBLIC_APPWRITE_DAYS_COLLECTION_ID=days
NEXT_PUBLIC_APPWRITE_EVENTS_COLLECTION_ID=events
NEXT_PUBLIC_ADMIN_PASSWORD=1733
